:root{
  --Lato: "Lato", sans-serif;
}

*{
  font-family: var(--Lato);
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  height: 100vh;
  padding: 5rem 10rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background 1s ease-in-out, opacity 1s ease-in-out;
}

@media (max-width: 425px){
  main{
    padding: 3rem 2rem 6rem !important;
  }
}

.quote_wrapper .container{
  margin: 0 !important;
  padding: 0 !important;
  display: grid;
  grid-template-columns: 50% 1fr;
  opacity: 0.8;
}

@media (max-width: 425px){
  .quote_wrapper .container{
    grid-template-columns: 90% 1fr;
  }
}

.quote_wrapper .container p{
  padding-bottom: 0.6rem;
}

@media (min-width: 426px) {
  .quote_wrapper .container p{
    padding-bottom: 1.2rem;
    line-height: 22px;
    word-spacing: 2px;
  }
}
  
.quote_wrapper .container i{
  padding: 3px;
}

.quote_wrapper > h6{
  font-size: 1rem;
}

@media (max-width: 425px) {
  .quote_wrapper .container, .quote_wrapper > h6{
    font-size: 14px;
  }
}

.time_wrapper{
  text-transform: uppercase;
}

.time_wrapper .container{
  display: grid;
  grid-template-columns: 1.6rem 1fr;
  align-items: center;
  margin-bottom: 0.3rem;
}

@media (max-width: 425px) {
  .time_wrapper .container{
    margin-bottom: 0.6rem;
    align-items: baseline;
  }
}

.time_wrapper .container i,.time_wrapper .container h5{
  font-size: 1rem;
  font-weight: 300;
  word-spacing: 3px;
  letter-spacing: 4px;
}

@media (max-width: 425px) {
  .time_wrapper .container i,.time_wrapper .container h5{
    word-spacing: 2px;
    font-size: 14px;
  }

  .time_wrapper .container h5 span{
    display: block;  
    margin-bottom: 0.2rem;  
  }
}

#time_slot{
  font-size: 5rem;
}

@media (max-width: 425px) {
  #time_slot{
    font-size: 3.6rem;
  }
}

#time_slot span#ampm{
  font-size: 1.5rem;
  padding-left: 0.8rem;
  opacity: 0.8;
}

@media (max-width: 425px) {
  #time_slot span#ampm{
    font-size: 1rem;
    padding-left: 0;
  }
}

#day_slot{
  font-size: 1.3rem;
  letter-spacing: 8px;
}

@media (max-width: 425px) {
  #day_slot{
    font-size: 1rem;
    letter-spacing: 4px;
    margin-top: 0.6rem;
  }
}

#author_container, #day_slot, #time_slot{
  font-weight: bold;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeOut {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.morningFadeIn{
  background: url('sun-5685447_1280.jpg') no-repeat fixed;
  background-size: cover;
  animation: fadeIn 1s ease-in;
}

.morningFadeOut{
  background: url('sun-5685447_1280.jpg') no-repeat fixed;
  background-size: cover;
  animation: fadeOut 1s ease-in;
}

.eveningFadeIn{
  background: url('grass-5212125_1280.jpg') no-repeat fixed;
  background-size: cover;
  animation: fadeIn 1s ease-in;
}

.eveningFadeOut{
  background: url('grass-5212125_1280.jpg') no-repeat fixed;
  background-size: cover;
  animation: fadeOut 1s ease-in;
}